<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <div class="card m-3" >
                <div class="card-body">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"[(ngModel)]="persona.nombre"  pattern="[a-zA-Z ]{2,254}" required>
                </div> 
                <br>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"[(ngModel)]="persona.apellido"  pattern="[a-zA-Z ]{2,254}" required>
                </div> 
                <br>
                <div class="form-group">
                    <label for="informacion">Informacion</label>
                    <textarea  type="text"  class="form-control" id="informacion" name="informacion"[(ngModel)]="persona.informacion" required></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="perfil">Titulo</label>
                    <input  type="text"  class="form-control" id="perfil" name="perfil"[(ngModel)]="persona.perfil" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="img">imagen</label>
                    <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" (click)="loadData()">
                </div>
                <br>
                <div class="imagen">
                    <img [src]="imageService.url" width="200px" >
                </div>
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
                <br>
                <div class="d-grid gap-2 d-md-flex">
                <button class="btn btn-primary me-md-2" >Actualizar Perfil</button>
                <button class="btn btn-danger" (click)="cancelar()">cancelar</button>
                </div>
                          
            </form>
        </div>
    </div>
</div>