
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <br>
            <img id="profilePicture" src={{persona.img}} class="img-fluid">
            <br>
            <h2 class="name">{{persona.nombre }} {{persona.apellido}}</h2>
            <p class="full">{{persona.perfil}}</p>
                <button type="button" class="btn btn-primary" routerLink="editacercade/1" *ngIf="isLogged">Editar Persona</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 "></div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h1>Acerca de mi</h1>
                <p class="mi">{{persona.informacion}}</p>
            </span>     
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 "></div>
        
    </div>

    <hr class="pill">
