
<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <div class="card m-3" >
                <div class="card-body">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP"[(ngModel)]="proyecto.nombreP" required>
                </div> 
                <br>
                <div class="form-group">
                    <label for="descriptionP">Descripcion</label>
                    <input type="text" class="form-control" id="descriptionP" name="descriptionP"[(ngModel)]="proyecto.descriptionP" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="periodoI">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="periodoI" name="periodoI"[(ngModel)]="proyecto.periodoI" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="periodoF">Fecha de Finalizacion</label>
                    <input type="date" class="form-control" id="periodoF" name="periodoF"[(ngModel)]="proyecto.periodoF" min="{{proyecto.periodoI}}" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" name="linkP"[(ngModel)]="proyecto.link" required>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md">
                    <button class="btn btn-success" >Actualizar</button>
                    <button class="btn btn-danger" (click) = "cancelar()" >Cancelar</button>
                  </div>                  
            </form>
        </div>
    </div>
</div>
    </div>
</div>